<app-blue-strip></app-blue-strip>
<div class="container-fluid e2e-fixed-headercls">
  <input routerLink="/home" type="image" src="../assets/E2ELogo.png" width="240px" height="120px">
  <button class = "e2e-header-button-flat" mat-button routerLink="/home" name="home">Home</button>
  <button class = "e2e-header-button-flat" mat-button routerLink="/aboutus" name="aboutus">About Us</button>
  <button class = "e2e-header-button-flat" mat-button [matMenuTriggerFor]="services">Services</button>
  <button class = "e2e-header-button-flat" mat-button routerLink="/batches" name="batches">Batches</button>
  <button class = "e2e-header-button-flat" mat-button routerLink="/contactus" name="contactus">Contact Us</button>
  <mat-menu #services="matMenu">
    <button mat-menu-item [matMenuTriggerFor]="training" >IT Training</button>
    <button mat-menu-item routerLink="/itcon">IT Consulting</button>
    <button mat-menu-item routerLink="/itdev">IT Development</button>
  </mat-menu>
  <mat-menu #training="matMenu">
    <button mat-menu-item routerLink="/onlinetr" >Online Training</button>
    <button mat-menu-item routerLink="/clrtr">Class Room Training</button>
    <button mat-menu-item routerLink="/cortr">Corporate Training</button>
  </mat-menu>
</div>
