<div class="container-fluid e2e-footer-containercls">
	<div class="container-fluid e2e-footer-part-one">
		<div class="col-xs-12 col-md-3" style="display:inline-block">
			<p>Services</p>
			<ul>
			  <li>Coffee</li>
			  <li>Tea</li>
			  <li>Coca Cola</li>
			</ul>
		</div>
		<div class="col-xs-12 col-md-4" style="display:inline-block">
			<p>Contact</p>
			<p>Hyderabad, Siddiq Nagar, HITEC City, Hyderabad, Telangana 500081</p>
			<p>Office Timings - 7AM to 9PM</p>
		</div>
		<div class="col-xs-12 col-md-5" style="display:inline-block">
			<p>Place Holder for another block</p>
		</div>
	</div>
	<div class="container-fluid e2e-footer-part-two">
		<div class="col-xs-12 col-md-6" style="display:inline-block">
			<p>Terms and Conditions</p>
			<p>All rights reserved</p>
		</div>
		<div class="col-xs-12 col-md-6" style="display:inline-block">
			<p>Follow us on Social Media</p>
		</div>
	</div>	
</div>

