<div class="container-fluid e2e-footer-containercls">
	<div class="container-fluid e2e-footer-part-one">
		<div class="col-xs-12 col-md-4" style="display:inline-block">
			<p>Services</p>
			<ul>
			  <li>IT Training</li>
			  <li>IT Consulting</li>
			  <li>IT Development</li>
			</ul>
		</div>
		<div class="col-xs-12 col-md-6" style="display:inline-block">
			<p>Contact</p>
			<p>LIG-648(1st Floor), Road No.5, Near Malabar Gold &amp; Diamonds, KPHB Colony, Kukatpally, Hyderabad-500072.</p>
			<p>Office Timings - 7AM to 9PM</p>
		</div>
	</div>
	<div class="container-fluid e2e-footer-part-two">
		<div class="col-xs-12 col-md-6" style="display:inline-block">
			<p>Terms and Conditions Apply. &nbsp;All rights reserved</p>
		</div>
		<div class="col-xs-12 col-md-6" style="display:inline-block">
			<div class = "socialmediadiv">
				<span class="followsocailmediaiconcls">
				<span>Follow us on Social Media</span>
				<i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i>
				<i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i>
				<i class="fa fa-youtube fa-2x" aria-hidden="true"></i>
				<i class="fa fa-google-plus-official fa-2x" aria-hidden="true"></i></span>
			</div>
		</div>
	</div>	
</div>

