<div class= "padding-xlarge backgroundcls container" name= "main_content">

  <img src="../../assets/about-us-banner.jpg" height="200" width = "100%" style = "margin-bottom: 20px;">
  <p class = "aboutustitlecls">About Us</p>
  <p style="text-align: justify">
    E2E Soft is a leading software training institute providing Software Training, Technology Workshops,
    IT Consulting and IT Development.
    E2E Soft is founded by IT industry experts and the faculty is expertise in multiple domains.
    E2E Soft management and teaching faculty includes either working IT professionls/expertise in IT industry.
    All of them are highly experienced in designing/development of software solutions in their respective domains.
    E2E Soft is a well-known IT trainings located in KPHB,Hyderabad(India) is ultimate place for enhancing the skills
    of graduates and IT professionals.
    We offer Classroom training and online training so that one can take the training at the comfort of their own home or class room.
  </p>

<p style="text-align: justify">
  Using our enhanced global software training delivery methodology,
  innovative software training approach and industry expertise, we provide high-value corporate training services that enable
  our clients to enhance business performance, accelerate time-to-market, increase productivity and improve customer service.
</p>

  <p style="font-weight: bold">Why to choose E2E Soft:</p>
<div>
  <ul>
    <li>
      <span style="font-weight: bold">Learn from industry experts :</span>
      Our real-time professionals helps you to learn any new technology in ease manner.
    </li>
    <li>
    <span style="font-weight: bold">Flexible Timings :</span>
      Learn anytime from anywhere. Utilize your free time to learn new technology with our experts.
  </li>
    <li>
      <span style="font-weight: bold">24/7 Support:</span>
      No matter what your current issue is, we have team ready to help immediately.
    </li>
    <li>
      <span style="font-weight: bold">100% Placement :</span>
      We will provide placement assistance once course completion.
    </li>
    <li>
      <span style="font-weight: bold">Certification :</span>
      Towards the end of the course, you will be working on a project.
      E2E Soft provides certificate once project is done.
    </li>


  </ul>
</div>




</div>
