<div class="padding-xlarge backgroundcls container">
  <img src="../../assets/batches.jpg" height="200" width = "100%" style = "margin-bottom: 20px;">
  <p class = "batchestitlecls">Batches</p>

  <mat-table style="width: 100%" mat-table [dataSource]="batSource" >
  <ng-container matColumnDef="courseName">
    <mat-header-cell *matHeaderCellDef> Course Name</mat-header-cell>
    <mat-cell *matCellDef="let batch">{{batch.selectedCourse}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="startDate">
    <mat-header-cell *matHeaderCellDef> Start Date</mat-header-cell>
    <mat-cell *matCellDef="let batch">{{batch.startDate | date: 'dd/MM/yyyy'}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="courseTime">
    <mat-header-cell *matHeaderCellDef> Course Time</mat-header-cell>
    <mat-cell *matCellDef="let batch">{{batch.courseTime}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="duration">
    <mat-header-cell *matHeaderCellDef> Duration (Hours)</mat-header-cell>
    <mat-cell *matCellDef="let batch">{{batch.duration}} </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayColumns;"></mat-row>
</mat-table>
</div>
