<div class="container padding-xlarge backgroundcls">
  <img src="../../assets/itdevelopment.png" height="200" width = "100%" style = "margin-bottom: 20px;">
  <p class = "developmenttitlecls">IT Development</p>

  <p style="text-align: justify">
    E2E Soft providing high quality and robust software development for client customised needs,
    and has been providing high quality IT professionals to help our clients meet the most challenging
    deadlines comfortably.E2E Soft also offer our clients completely managed end-to-end application development
    and ongoing maintenance solutions at both enterprise and entrepreneurial levels.With technologies constantly
    evolving, it is critical to align business strategy with well-crafted application development and maintenance strategies.
</p>

  <p style="text-align: justify">
    <span style="font-weight: bold">Full stack Web Development:</span>
    E2E Soft provides end-to-end application development.
    E2E Soft's Application Services works at the intersection of cloud, mobility and analytics to create simple,
    effective and future ready digital solutions.
  </p>

  <p style="text-align: justify">  </p>
    <span style="font-weight: bold">Technologies Covered:</span>
    <ul>
  <li>Angular</li>
  <li>Node.js</li>
  <li>Express</li>
  <li>ReactJS</li>
  <li>MongoDB</li>
  <li>JavaScript</li>
  <li>NPM</li>
  <li>Socket.IO</li>
  <li>Socket.IO</li>
  <li>Java</li>
  <li>Oracle</li>
  <li> AWS</li>
      <li>DevOps</li>

</ul>


</div>
