
@import "../../styles.scss";

.home-cardmaincontainercls {
  padding: $padding-xlarge;
}
.coursecategory-cardcls {
  padding: $padding;
}
.coursecategory-cardcls div{
  box-shadow: 0 0 3px #5B7D87;
}
