<div class="container">
  <p>There is no doubt that e-learning can reduce costs for participant travel,
    for building and maintaining classroom facilities, and for instructors.
    But there are many instances in which face-to- face instructor-led training
    is still the best solution to learning needs.
  </p>

  <div>
<ul>Our strategy for Classroom trainings are :
  <li>Focus</li>
  <li>Confidentiality</li>
  <li>Practice</li>
  <li>Adaptability</li>
  <li>Individual Attention to Participant Needs</li>
  <li>Building Personal Relationships</li>
  <li> Building a Personal Network</li>
</ul>
</div>
<div>
  <ul>Online Self Learning:
           <li>E2ESoft gives an opportunity to self-learn the technologies cutting down the hassles of
  travelling and rush traffics by providing access to the recorded sessions of the well experienced trainers.
  No time constraints. You can access the recordings 24/7 and we provide support by our consultants for your queries
             on the subject.</li>
  </ul>
</div>
</div>
