<div class="container padding-xlarge backgroundcls">
  <img src="../../assets/training-class-banner.jpg" height="200" width = "100%" style = "margin-bottom: 20px;">
  <p class = "classroomtitlecls">Class Room Training</p>

  <p style="text-align: justify">
    E2E Soft pioneers in offering classroom training at the most affordable price in KPHB.
    Classroom trainings provide opportunity to interact with our trainers in persons and discuss and share ideas and problems.
    It provides a very vibrant environment to meet and interact with other students with similar interest areas.
    Located centrally in KPHB, our world-class training facilities are easily accessible from all parts off the city.
    With a balanced teacher – student ratio, classroom programs help student to engage and learn better.
  </p>
  <p style="font-weight: bold">Benefits of Classroom Training:</p>
  <div>
    <ul>

      <li>
        <span style="font-weight: bold">Better Attention and Focus:</span>
        Classroom programs ensure students are more focused and attentive to the trainings being conducted.
        Classroom environments ensure the student have full attention on the trainings will very little distractions.
      </li>
      <li>
        <span style="font-weight: bold">Timely completion of Programs:</span>
        Classroom programs are very organized and better scheduled, ensuring timely completion of the program.
        This helps students’ better plan for their future course of actions.
      </li>
      <li>
        <span style="font-weight: bold">Interactive Sessions:</span>
        Classroom training ensures more interactive interaction between the trainer and students.
        Concerns and question get answered immediately, ensuring a better understanding of the subject.
      </li>
      <li>
        <span style="font-weight: bold">Freedom of location:</span>
        E2E Soft live training programs can be attended from anywhere in the world at your convenience.
      </li>
      <li>
        <span style="font-weight: bold">Lab Sessions:</span>
        Practical session in the lab will get better attention from the trainers and other senior
        participants ensuring all issues/question are answered in timely manner.
      </li>
</ul>
</div>
</div>
