<div class="container padding-xlarge backgroundcls">
  <img src="../../assets/online_training.jpg" height="200" width = "100%" style = "margin-bottom: 20px;">
  
  <p class = "onlinetrainingcls">Online Training</p>

  <p style="text-align: justify">
    E2E Soft online training programs are designed to help students attend live sessions in the virtual classroom.
    These help students to attend training program from any location in the world at their convenience.
    With constant support and live access to online servers for practice sessions,
    virtual classrooms are the training methodology of the future connecting the trainer and the students on the web.
  </p>
  <p style="font-weight: bold">Benefits of Online Training:</p>
  <div>
    <ul>

      <li>
        <span style="font-weight: bold">Freedom of location:</span>
        E2E Soft live training programs can be attended from anywhere in the world at your convenience.
      </li>
      <li>
        <span style="font-weight: bold">Less crowded classrooms:</span>
        The virtual classrooms are designed to have better student – trainer ratio,
        ensuring a more personal attention to individual students’ queries and requirements.
      </li>
      <li>
        <span style="font-weight: bold">Flexible Program Schedules:</span>
        Online classroom schedules are extremely flexible allowing students/professional
        to attend the sessions at their convenience.
      </li>
      <li>
        <span style="font-weight: bold">Video Libraries:</span>
        Video libraries catalog and store the session recordings, providing students access
        to already completed classes, allowing them to revisit and master subject better.
      </li>

      <li>
        <span style="font-weight: bold">Lower Cost:</span>
        The overall cost incurred on online training will be farer lesser when sum up the
        cost of travel, time and other logistics involved in attending regular classroom trainings.
      </li>
    </ul>
  </div>
</div>
