<div class="container padding-xlarge backgroundcls">
  <img src="../../assets/online_training.jpg" height="200" width = "100%" style = "margin-bottom: 20px;">
  
  <p class = "onlinetrainingcls">Online Training</p>

  <p>Online training offers a number of advantages for people and companies looking to develop a new content program or curricula — none bigger than the ability to offer that training anywhere, anytime. That means whether your trainees are all together in a classroom or scattered all over the country in different time zones, they can still tap into the same course materials, and at a time that’s convenient to them.</p>

  <div>
    <ul>Benefits designed with our online training programs:
      <li>Greater Access to Expertise</li>
      <li>Better Retention</li>
      <li>Immediate Results and Feedback</li>
      <li>The Most Up-to- Date Content at Much Lower Cost</li>
      <li>A Better Fit for 21st-Century Businesses</li>
    </ul>
  </div>
</div>
