@import "../../styles.scss";

.coursedetails-cardmaincontainercls {
  padding: $padding-xlarge;
}
.coursedetails-titlecoursecls {
  padding: $padding-xs;
  color: $primary-color;
  font-size: 125%;
}
.aboutcoursetitlecls {
  padding: $padding-xs;
}
