<div *ngIf = "course" class="coursedetails-cardmaincontainercls coursedetails-backgroundcls">
  <mat-toolbar class="home-toolbarcls">
    {{course.courseName}}
  </mat-toolbar>
  <div class="row">
    <div class="col-sm-6 col-md-4">
      <img width="200px" height="200px" [src]="constructImageUrl(course.courseImage)" alt="Photo of {{course && course.courseName}}">
      <button mat-raised-button (click)="getCourseContent(course._id)" >Get Content</button>
    </div>
    <div class="col-sm-12 col-md-8">
      <div class="row padding">
        <p class="col-sm-12 col-md-9">{{course.benefits.reason}}</p>
          <p class="col-sm-6 col-md-5">{{course.benefits.benefit1}}</p>
          <p class="col-sm-6 col-md-5">{{course.benefits.benefit2}}</p>
          <p class="col-sm-6 col-md-5">{{course.benefits.benefit3}}</p>
          <p class="col-sm-6 col-md-5"></p>
      </div>
    </div>
    <mat-toolbar class="home-toolbarcls">
      About
    </mat-toolbar>
    <div class="col-md-12">
      {{course.aboutCourse}}
    </div>
    <mat-toolbar class="home-toolbarcls">
      Features
    </mat-toolbar>
    <p class="col-sm-6 col-md-4 aboutcoursetitlecls">{{course.features.assignments}}</p>
    <p class="col-sm-6 col-md-4 aboutcoursetitlecls">{{course.features.instructorLedSessions}}</p>
    <p class="col-sm-6 col-md-4 aboutcoursetitlecls">{{course.features.certification}}</p>
    <p class="col-sm-6 col-md-4 aboutcoursetitlecls">{{course.features.realLifeCaseStudies}}</p>
  </div>
</div>
