<div *ngIf = "course" class="coursedetails-cardmaincontainercls">
  <div class="coursedetails-contentcontainercls">
    <div class="coursedetails-sectioncls">
      <mat-toolbar class="home-toolbarcls">
        <i class="fa fa-university" aria-hidden="true"></i>
        {{course.courseName}}
      </mat-toolbar>
      <div class="row home-toolbarcls-rowmargin">
        <div class="col-sm-6 col-md-4">
          <img width="250px" height="250px" style="border-radius: 50%;display: block; margin: 0 auto;" [src]="constructImageUrl(course.courseImage)" alt="Photo of {{course && course.courseName}}">
        </div>
        <div class="col-sm-12 col-md-8">
          <div class="row padding">
            <div style="width: 100%; margin-bottom: 20px;">
              <p class="col-sm-12 col-md-8 whythiscoursecls"><i class="fa fa-question-circle-o" aria-hidden="true"></i>{{course.benefits.reason}}</p>
              <button class="col-sm-12 col-md-4 downloadcontentbtn" mat-raised-button (click)="getCourseContent(course._id)" ><i class="fa fa-cloud-download" aria-hidden="true"></i>Course Content</button>
            </div>
              <p class="col-sm-6 col-md-5"><i class="fa fa-hand-o-right" aria-hidden="true"></i>{{course.benefits.benefit1}}</p>
              <p class="col-sm-6 col-md-5"><i class="fa fa-hand-o-right" aria-hidden="true"></i>{{course.benefits.benefit2}}</p>
              <p class="col-sm-6 col-md-5"><i class="fa fa-hand-o-right" aria-hidden="true"></i>{{course.benefits.benefit3}}</p>
              <p class="col-sm-6 col-md-5"></p>
             </div>
        </div>
      </div>
    </div>
    <div class="coursedetails-sectioncls">
      <mat-toolbar class="home-toolbarcls">
        <i class="fa fa-info-circle" aria-hidden="true"></i>About the Course
      </mat-toolbar>
      <div class="col-md-12 aboutcoursecontentcls">
        {{course.aboutCourse}}
      </div>
    </div>
    <div class="coursedetails-sectioncls">
      <mat-toolbar class="home-toolbarcls"><i class="fa fa-users" aria-hidden="true"></i> New Batches </mat-toolbar>
      <mat-table style="width: 100%" mat-table [dataSource]="batSource" >
        <ng-container matColumnDef="startDate">
          <mat-header-cell *matHeaderCellDef> Start Date</mat-header-cell>
          <mat-cell *matCellDef="let batch">{{batch.startDate | date: 'dd/MM/yyyy'}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="courseTime">
          <mat-header-cell *matHeaderCellDef> Course Time</mat-header-cell>
          <mat-cell *matCellDef="let batch">{{batch.startDate | date: 'h:mm a'}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="duration">
          <mat-header-cell *matHeaderCellDef> Duration (Days)</mat-header-cell>
          <mat-cell *matCellDef="let batch">{{batch.duration}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayColumns;"></mat-row>
      </mat-table>
    </div>
    <div class="coursedetails-sectioncls">
      <mat-toolbar class="home-toolbarcls">
        <i class="fa fa-hand-peace-o" aria-hidden="true"></i>Features
      </mat-toolbar>
      <div style="padding: 20px;">
        <p class="col-sm-12 col-md-6 aboutcoursetitlecls"><i class="fa fa-clock-o featuretitlecls" aria-hidden="true">Instructor-led Sessions</i><br/>{{course.features.instructorLedSessions}}</p>
        <p class="col-sm-12 col-md-6 aboutcoursetitlecls"><i class="fa fa-laptop featuretitlecls" aria-hidden="true">Assignments</i><br/>{{course.features.assignments}}</p>
        <p class="col-sm-12 col-md-6 aboutcoursetitlecls"><i class="fa fa-cubes featuretitlecls" aria-hidden="true">Real-life Case Studies</i><br/>{{course.features.realLifeCaseStudies}}</p>
        <p class="col-sm-12 col-md-6 aboutcoursetitlecls"><i class="fa fa-certificate featuretitlecls" aria-hidden="true">Certification</i><br/>{{course.features.certification}}</p>
      </div>
    </div>
  </div>
</div>
