<ngb-carousel >
  <ng-template ngbSlide *ngFor="let image of images">
    <img width="1600px" height="500px" src="http://localhost:3010/file/{{image.fileId}}/banners" alt="Random first slide">

    <div class="carousel-caption">
    </div>
  </ng-template>

</ngb-carousel><br>

<div class="row home-cardmaincontainercls" >
  <mat-toolbar class="home-toolbarcls">Popular Categories</mat-toolbar>
  <app-categories></app-categories>
</div>

<br>
<div class="row home-cardmaincontainercls">
  <mat-toolbar class="home-toolbarcls"> Popular Courses </mat-toolbar>
  <div class="col-sm-4" *ngFor="let course of courses">
    <div> <app-coursecards [course]="course"></app-coursecards>
    </div>
  </div>

</div>
